
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
    grid-gap: 10px;
    padding: 50px;
}
.items{
    background-color: white;
    height: 300px;
    border-radius: 10px;
}

section{
    padding: 10px;
    padding: 20px;
}

.the-image{
    height: 150px;
    width: 150px;
}

.icon{
    color: red;
    font-size: 30px;
}